<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="recipesConfiguration" type="FishCook.RecipesConfigurationSection, FishCook"/>
  </configSections>
  <appSettings>
    <add key="PrimaryColor" value="00872d91"/>
    <add key="SecondaryColor" value="00107691"/>
  </appSettings>
  <recipesConfiguration>
    <recipes>
      <add src="Assets_img_2.png" title="Lotus-Wrapped Mystery Fish" fish="1" ingredients="r" base="14" bonus="3"/>
      <add src="Assets_img_3.png" title="Anchovy Soup with Pastry Ball" fish="1" ingredients="b" base="16" bonus="3"/>
      <add src="Assets_img_4.png" title="Knackered Smelt" fish="1" ingredients="p" base="18" bonus="3"/>
      <add src="Assets_img_5.png" title="Sardines with Lemon and Green Stuff" fish="1" ingredients="yg" base="23" bonus="4"/>
      <add src="Assets_img_6.png" title="Singing Smelt with Lemon" fish="1" ingredients="wyp" base="32" bonus="5"/>
      <add src="Assets_img_7.png" title="Pullayup Bento with Anchovies" fish="1" ingredients="rgb" base="34" bonus="5"/>
      <add src="Assets_img_8.png" title="Sweet Shrimps on a Rice Pancake" fish="2" ingredients="w" base="13" bonus="3"/>
      <add src="Assets_img_9.png" title="Crab Chowder with Ginger" fish="2" ingredients="r" base="15" bonus="3"/>
      <add src="Assets_img_10.png" title="Fat Prawns with Miso" fish="2" ingredients="wb" base="24" bonus="4"/>
      <add src="Assets_img_11.png" title="Hot Crustacean Plate" fish="2" ingredients="gp" base="29" bonus="4"/>
      <add src="Assets_img_12.png" title="Oakland Roll" fish="2" ingredients="wyg" base="30" bonus="5"/>
      <add src="Assets_img_13.png" title="Healthy Ginger Nabe" fish="2" ingredients="yrb" base="33" bonus="5"/>
      <add src="Assets_img_14.png" title="Tuna Nigiri" fish="3" ingredients="w" base="15" bonus="3"/>
      <add src="Assets_img_15.png" title="Three-Fish Soup" fish="3" ingredients="b" base="19" bonus="3"/>
      <add src="Assets_img_16.png" title="Bonito with Rice and Lemons" fish="3" ingredients="wy" base="23" bonus="4"/>
      <add src="Assets_img_17.png" title="Mackerel with Roe and Lemon" fish="3" ingredients="yr" base="25" bonus="4"/>
      <add src="Assets_img_18.png" title="Mackerel with Pickled Garlic" fish="3" ingredients="yrp" base="37" bonus="5"/>
      <add src="Assets_img_19.png" title="Fish Soup with Shredded Daikon" fish="3" ingredients="rgb" base="37" bonus="5"/>
      <add src="Assets_img_20.png" title="Stars of Squid Meat with Egg" fish="4" ingredients="y" base="19" bonus="3"/>
      <add src="Assets_img_21.png" title="Squiddies with Rice and Veggies" fish="4" ingredients="wg" base="28" bonus="4"/>
      <add src="Assets_img_22.png" title="Tentacle Segments with Cherry Branch" fish="4" ingredients="gp" base="33" bonus="4"/>
      <add src="Assets_img_23.png" title="Octopus Halves with Miso" fish="4" ingredients="wyb" base="36" bonus="5"/>
      <add src="Assets_img_24.png" title="Surprise Love Basket" fish="4" ingredients="wrp" base="39" bonus="5"/>
      <add src="Assets_img_25.png" title="Fried Octopus with 1000-Year Egg" fish="4" ingredients="ygp" base="41" bonus="5"/>
      <add src="Assets_img_26.png" title="Yellowtail Nigiri" fish="5" ingredients="w" base="21" bonus="3"/>
      <add src="Assets_img_27.png" title="Eel with Plastic Vegatable Garnish" fish="5" ingredients="wr" base="29" bonus="4"/>
      <add src="Assets_img_28.png" title="Teriyaki Trout with Head" fish="5" ingredients="yg" base="31" bonus="4"/>
      <add src="Assets_img_29.png" title="Grilled Samon, Sliced Up" fish="5" ingredients="rg" base="32" bonus="4"/>
      <add src="Assets_img_30.png" title="Troutfish with Ginger Sauce" fish="5" ingredients="yrp" base="43" bonus="5"/>
      <add src="Assets_img_31.png" title="Fish Soup with All the Fixin's" fish="5" ingredients="wbp" base="44" bonus="5"/>
      <add src="Assets_img_32.png" title="Shark Steak with Mushrooms" fish="6" ingredients="b" base="28" bonus="3"/>
      <add src="Assets_img_33.png" title="Abalone with Ginger" fish="6" ingredients="wr" base="32" bonus="4"/>
      <add src="Assets_img_34.png" title="Pan-Seared Rockfish" fish="6" ingredients="yg" base="34" bonus="4"/>
      <add src="Assets_img_35.png" title="Shark Fin Soup" fish="6" ingredients="gb" base="37" bonus="4"/>
      <add src="Assets_img_36.png" title="Marinated Swordfish Surprise" fish="6" ingredients="wrp" base="45" bonus="5"/>
      <add src="Assets_img_37.png" title="Turtle Soup with Fancy Spoon" fish="6" ingredients="ygb" base="45" bonus="5"/>
    </recipes>
  </recipesConfiguration>
  <log4net debug="false">
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <file value="log-file.txt"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <priority value="ALL"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    <category name="SiteGenerator.Logging">
      <priority value="ALL"/>
    </category>
  </log4net>
  <runtime/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>



</configuration>
